body{
    background-color: green;
}
h1{
    color: red;
    background-color: aqua;
}
p{
    background-color: greenyellow;
    font-size: 23px;
}
h2{
    color: red;
    background-color: aqua;
}
li{
    background-color: darkorange;
    font-size: 23px;
}
h3{
    color: red;
    background-color: aqua;
}